{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multimodal Data Capture Tool</title>
    <link rel="stylesheet" href="{% static 'media_capture/css/styles.css' %}">
</head>

<body>
    {% csrf_token %}
    <header>
        <h1>Multimodal Learning Analytics Device</h1>
    </header>
    <div id="pdfStatus" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: rgba(255, 255, 255, 0.8); padding: 20px; border: 1px solid #ccc; border-radius: 5px; z-index: 1000;">
        Generating PDF...
    </div>
    <div id="emailStatus" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: rgba(255, 255, 255, 0.8); padding: 20px; border: 1px solid #ccc; border-radius: 5px; z-index: 1000;">
        Sending Email...
    </div>
    <main>
        <section class="welcome">
            <h2>Your Ultimate Learning Tool</h2>
            <p>Easily snap, record and transcribe for your learning projects</p>
        </section>

        <section class="actions">
            <button id="recordAudio" class="action-button">Record Audio</button>
            <button id="captureImage" class="action-button">Capture Image</button>
        </section>

        <div id="recordingModal" class="modal">
            <div class="modal-content">
                <span class="close" id="closeRecordingModal">&times;</span>
                <h2>Recording Audio</h2>
                <div id="timer">00:00</div>
                <button id="startRecordingButton" class="action-button">Start Recording</button>
                <button id="stopRecordingButton" class="action-button" disabled>Stop Recording</button>
            </div>
        </div>

        <section class="recent-images">
            <h2>Recent Images</h2>
            <div class="images-container">
                {% for img_path in img_paths|slice:":3" %}
                <div class="image-item">
                    <img src="{{ img_path }}" alt="Captured Image">
                    <a href="{{ img_path }}" download>Download Image</a>
                    <button class="delete-image" data-image="{{ img_path }}">Delete</button>
                </div>
                {% endfor %}
            </div>
            <button id="viewAllImages" class="view-all-button">View All Images</button>
        </section>

        <section class="recent-recordings">
            <h2>Recent Recordings</h2>
            <div class="recordings-container">
                {% for item in audio_data|slice:":3" %}
                <div class="audio-item">
                    <audio controls>
                        <source src="{{ item.audio_path }}" type="audio/wav">
                        Your browser does not support the audio element.
                    </audio>
                    {% if item.transcription %}
                    <div class="transcription-result">
                        <p class="transcription-text">Transcription file:
                            <a href="{{ item.transcription_path }}" download>filename.txt</a>
                            <button class="delete-button" data-audio="{{ item.audio_path }}">Delete</button>
                        </p>
                    </div>
                    {% else %}
                    <button class="transcribe-button" data-audio="{{ item.audio_path }}">Transcribe</button>
                    <button class="delete-button" data-audio="{{ item.audio_path }}">Delete</button>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <button id="viewAllRecordings" class="view-all-button">View All Recordings</button>
        </section>

    </main>

    <footer>
        <p>© 2024 - All Rights Reserved</p>
    </footer>

    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div id="modalContent"></div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'media_capture/js/main.js' %}"></script>

</body>

</html>